<div class="main">
  <div class="visibility-settings">
    <p class="visibility-settings__title">Columns visibility: </p>
    <div class="visibility-settings__item" *ngFor="let item of ['Task ID', 'Task Name', 'Start Date', 'End Date', 'Duration', 'Priority']"
    >
      <label [for]="'toggle-hide-' + item">{{ item }}</label>
      <input
        [id]="'toggle-hide-' + item"
        type="checkbox"
        [checked]="!isColHidden(item)"
        (click)="toggleColVisibility(item)"
      >
    </div>
  </div>
  <div id="TreeGrid"></div>
</div>
